In [1]:
name = "Hi How are you? Starterd learning python. It's really interesting."

In [2]:
name[:]

"Hi How are you? Starterd learning python. It's really interesting."

In [3]:
name[-10:-5]

'teres'

In [4]:
name[3:12]

'How are y'

In [8]:
name[12:3]

''

In [9]:
name[5,6]

TypeError: string indices must be integers, not 'tuple'

In [10]:
name[-4:-12]

''

In [11]:
name[::2]

"H o r o?Satr erigpto.I' elyitrsig"

In [ ]:
name[::-2]  #Hi How are you? Starterd learning python. It's really interesting.

'.nteen larst nhy nnaldert uyeawHi'

In [14]:
L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [15]:
L1[:]

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [16]:
L1[::3]

['a', 30, 300, 'major']

In [17]:
L1[::-2]

['major', 400, 100, 30, 'b']

In [18]:
#How to extract  value “Happy” based on index and negative index 
L1[8]

'Happy'

In [19]:
L1[-2]

'Happy'

In [20]:
type(L1[4])

str

In [22]:
#Extract values for 100, 300, 400  
L1[5]

100

In [23]:
L1[6]

300

In [24]:
L1[7]

400

In [26]:
l2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, "Success"]

In [29]:
l2[2]

3

In [30]:
l2[1:5]

[2, 3, 5, ['a', 'b', 'work hard']]

In [31]:
l2[7]

'Success'

In [32]:
l2[7][2]

'c'

In [33]:
l2[7][2:]

'ccess'

In [34]:
l2[:3]

[1, 2, 3]

In [35]:
l2[3:]

[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [40]:
l2[4][1] = 'BEE'

In [41]:
l2

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

In [43]:
l2[4].remove('BEE')

In [44]:
l2

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success']

In [47]:
l2.append ({'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']})

In [48]:
l2

[1,
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [49]:
d1 = {'a':10,'b':20,'c':30}

In [50]:
l2.insert(2,d1)

In [51]:
l2

[1,
 2,
 {'a': 10, 'b': 20, 'c': 30},
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [53]:
#Based on new l2 created here extract the value 10 from l2 dictionary
l2[2]['a']

10

In [2]:
l2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, "Success", (200,300, "Hundreds")]

In [55]:
l2

[1,
 2,
 3,
 5,
 (90, 40, 50, 10),
 'Python',
 400,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 (200, 300, 'Hundreds')]

In [57]:
l2[4][2]

50

In [58]:
l2[5][:]

'Python'

In [59]:
l2[2][:]

TypeError: 'int' object is not subscriptable

In [60]:
l2[1:5]

[2, 3, 5, (90, 40, 50, 10)]

In [61]:
l2[5]

'Python'

In [62]:
l2[5][3:-1]

'ho'

In [63]:
l2[-1]

(200, 300, 'Hundreds')

In [64]:
l2[-4, -3]

TypeError: list indices must be integers or slices, not tuple

In [65]:
l2[-4:-10]

[]

In [66]:
l2[7][2]

'work hard'

In [3]:
l2[-7][2:]

'thon'

In [4]:
l2[ :- 3]

[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]

In [5]:
l2[-3:]

[200, 'Success', (200, 300, 'Hundreds')]

In [ ]:
#Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails 

# If marks are more than 80 output must be “You got distinction” 

# For marks more than 60 output must be “You got First class” 

# Marks more than 40 will display “You got second class” 

# Marks more than or equal to 35 “PASS” Otherwise Fail

In [7]:
marks = int(input("Enter your marks"))
if marks > 80:
    print("You got distinction")
elif marks > 60:
    print("You got first class")
elif marks > 40:
    print("You got second class")
elif marks >= 35:
    print("Pass")
else:
    print("Fail")

Fail

In [27]:
L1 = ["HR", "Finance", "Marketing", "DS"] 
while True:

    sub = input("Please Enter subject")
    analytics = input("Do you want analytics.(Y/N)")
    hostel = input("Do you want Hostel?(Y/N)")
    Food = int(input("How many months do you want food"))
    Transportation = int(input("How many semister you want to travel"))

    course_fee = 200000
    if sub.lower() == 'ds':
        print("DS haven't analytics")
        total_fee = course_fee
    else:
        if analytics.lower() == 'y':
            total_fee = course_fee + 0.1*course_fee
        else:
            total_fee = course_fee
    hostel_fee = 200000
    if hostel.lower() == 'y':
        hostel_total_fee = hostel_fee
    else :
        hostel_total_fee = 0

    food_fee = Food*2000
    Transportation_fee = Transportation*13000
    annual_fee = total_fee +hostel_total_fee + food_fee + Transportation_fee

    print("course fee is: ",total_fee)
    print("Hostel fee is: ", hostel_total_fee)
    print("Total Food charges is: ",food_fee)
    print("Transporatation charges is: ", Transportation_fee)
    print("annual fees are: ", annual_fee)

    ch = input("do you want to continue(Y/N)")
    if ch.lower()!='y':
        print("Thank You!")
        break

course fee is:  220000.0
Hostel fee is:  200000
Total Food charges is:  2000
Transporatation charges is:  13000
annual fees are:  435000.0
Thank You!

In [ ]:
standard = int(input("Enter your standard"))
book = input("which subject book you want")
notebook = input("do you want notebook (Y/N)")
pages = int(input("How many pages you want"))

if 1 <= std <= 4:
    if book == 'Hindi':
        price = 60
    elif book == 'Marathi':
        price = 60
    elif book == 'English':
        price = 80
    elif book == 'Science':
        price = 90
    elif book == 'Math':
        price = 100
elif 5 <= std <= 8:
    if book == 'Hindi':
        price = 100
    elif book == 'Marathi':
        price = 100
    elif book == 'English':
        price = 100
    elif book == 'Science':
        price = 120
    elif book == 'Math':
        price = 140
elif  9 <= std <= 10:
    if book == 'Hindi':
        price = 150
    elif book == 'Marathi':
        price = 150
    elif book == 'English':
        price = 150
    elif book == 'Science':
        price = 200
    elif book == 'Math':
        price = 250

In [1]:
string = "In most organized forms of writing, such as essays, paragraphs contain a topic sentence..."

In [2]:
a = 100

In [4]:
str(a)

'100'

In [5]:
list(a)

TypeError: 'int' object is not iterable

In [6]:
tuple(a)

TypeError: 'int' object is not iterable

In [7]:
dict(a)

TypeError: 'int' object is not iterable

In [8]:
set(a)

TypeError: 'int' object is not iterable

In [9]:
float(a)

100.0

In [10]:
city = "Pune"

In [11]:
int(city)

ValueError: invalid literal for int() with base 10: 'Pune'

In [12]:
float(city)

ValueError: could not convert string to float: 'Pune'

In [13]:
list(city)

['P', 'u', 'n', 'e']

In [14]:
tuple(city)

('P', 'u', 'n', 'e')

In [15]:
dict(city)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [16]:
set(city)

{'P', 'e', 'n', 'u'}

In [18]:
marks = [20,18,15,17,18]

In [19]:
int(marks)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [ ]:
float(marks)

TypeError: float() argument must be a string or a real number, not 'list'

In [21]:
list(marks)

[20, 18, 15, 17, 18]

In [22]:
tuple(marks)

(20, 18, 15, 17, 18)

In [23]:
dict(marks)

TypeError: object is not iterable

In [24]:
set(marks)

{15, 17, 18, 20}

In [25]:
snames=[]

In [27]:
snames.append(20)

In [ ]:
snames.extend([30])         ## extend needs an iterable like list, tuple, or string

In [30]:
snames.append([10,20])

In [32]:
snames.extend('WORK')

In [33]:
combo =[1,'a','b',2,3]

In [34]:
snames.append(combo)

In [35]:
snames.extend(combo)

In [36]:
snames

[20,
 30,
 [10, 20],
 'WORK',
 'W',
 'O',
 'R',
 'K',
 [1, 'a', 'b', 2, 3],
 1,
 'a',
 'b',
 2,
 3]

In [37]:
new_combo = combo + snames

In [38]:
new_combo

[1,
 'a',
 'b',
 2,
 3,
 20,
 30,
 [10, 20],
 'WORK',
 'W',
 'O',
 'R',
 'K',
 [1, 'a', 'b', 2, 3],
 1,
 'a',
 'b',
 2,
 3]

In [39]:
#Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1  
l1 = [1,2]

In [40]:
l3 = [3,4,5,6,7,8,9]

In [41]:
l3.insert(3,l1)

In [42]:
l3

[3, 4, 5, [1, 2], 6, 7, 8, 9]

In [ ]:
# 12) Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data is in integer or float then multiply with 5.   

#From the collection delete the record for “Nisha”  

#Find the location of 20.50

In [1]:
Collection = [1,2,3,['a','b','c'],100,'Nisha',20.50,90.10]

In [6]:
for i in Collection:
    if type(i) == float or type(i)==int:
        print(i*5)

5
10
15
500
102.5
450.5

In [10]:
Collection.remove('Nisha')

In [11]:
Collection

[1, 2, 3, ['a', 'b', 'c'], 100, 20.5, 90.1]

In [13]:
Collection.index(20.50)

5

In [ ]:
# 13) Create a comprehensive list for square upto 10

In [14]:
square = [i ** 2 for i in range(1,11)]

In [15]:
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#14) Create the comprehensive list to find number divisible by 13 till 200

In [20]:
div_13 = [i for i in range (1,201) if i%13 ==0]
print(div_13)

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [23]:
# 15) Create the list which is divisible by 4 from 300 to 400   
div_4 = [i for i in range(300,401) if i % 4 ==0]
print(div_4)

[300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400]

In [ ]:
# 16)  Create a comprehensive list to generate list up to x, y as a number. For example if x = 3 list will be
#  x_list = [0,1,2] and y=2 then y_list =[0,1] 

#Then generate a new list based on all combination of x and y. 

# For example: if x = 1 and y =2  then x_list = [0] and y_list = [0,1] 

# And output will be [[0,0],[0,1]] 
# If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]

In [29]:
x = int(input("enter x"))
y = int(input("enter y"))

x_list = [i for i in range (x)]
y_list = [ j for j in range (y)]

combination = [[i,j] for i in x_list for j in y_list]

print("x_list",x_list)
print("y_list",y_list)
print("combination",combination)

x_list [0, 1, 2]
y_list [0, 1, 2, 3]
combination [[0, 0], [0, 1], [0, 2], [0, 3], [1, 0], [1, 1], [1, 2], [1, 3], [2, 0], [2, 1], [2, 2], [2, 3]]

In [ ]:
# 17)What is the difference between add and update methods in set?

add is used to adding single element in the set. add doesn't support multiple element at same time.
Update is used to add multiple elements at same time . it accepts any iterable element like (set, tuple,list)

In [ ]:
# add
s ={1,2,3}
s.add(4)
print(s)

{1, 2, 3, 4}

In [38]:
#Update
p = {2,5,6,4}
p.update([2,3,4])
print(p)

{2, 3, 4, 5, 6}

In [ ]:
# 18) What is the difference between append and extend methods in list?

Append used to add single element at a time in list. 
Extend used to add multiple iterable element at same time in list

In [41]:
l1 = [1,2,3,4]
l1.append(5)
print(l1)

[1, 2, 3, 4, 5]

In [44]:
l1.extend([2,6])
print(l1)

[1, 2, 3, 4, 5, 2, 6, 2, 6]

In [ ]:
# 19) What is the difference between pop and remove methods?

Pop remove element by index. If we dont give any index by default it removes last element. It returns the removed element.
Remove is used to delete element by value. in remove it is must to provide value. it returns none. if their are same element by default it removes first occurance.

In [45]:
l1

[1, 2, 3, 4, 5, 2, 6, 2, 6]

In [48]:
l1.pop()
print(l1)

[1, 2, 3, 4, 5, 2, 6]

In [49]:
l1.remove(3)
print(l1)

[1, 2, 4, 5, 2, 6]

In [50]:
l1.remove(2)
l1

[1, 4, 5, 2, 6]

In [ ]:
# 20) What is the difference between discard, pop, remove methods?

 pop and remove is available for both list and set. but discard is only in set.
 pop - in list it removes element by index and by default removes last element but in set there is no index therefor it 
 removes random element

 remove- in list it removes element by value . and in set it removes element by value.
 Discard - is only available in set. It removes elemenet by value. and if value not in set it doesn't give any error

In [53]:
s ={ 1,2,3,6}

In [54]:
s.pop()
s

{2, 3, 6}

In [55]:
s.remove(6)

In [56]:
s

{2, 3}

In [57]:
s.discard(40)

In [58]:
s

{2, 3}

In [ ]:
# # 21) How to create empty set?

In [ ]:
s = {}  # by using only curly braces it creates dictinory
type(s)

dict

In [67]:
del set

In [ ]:
p = set()   # for set write set()
print(p)        
print(type(p))

set()
<class 'set'>

In [ ]:
# 22) Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.

In [69]:
s1 = {12,1,3,4}

In [71]:
s2 = {5,0,2,2}

In [ ]:
set_union = s1.union(s2)   # return element in both s1 and s2
set_union

{0, 1, 2, 3, 4, 5, 12}

In [ ]:
set_intersection = s1.intersection(s2)   # return common element
set_intersection

set()

In [ ]:
set_difference = s1.difference(s2)   # returns all element in s1 that are not in s2
set_difference

{1, 3, 4, 12}

In [79]:
set_setdifference = s1.symmetric_difference(s2) # returns the element which is present in either set 1 or 2 but not in both
set_setdifference

{0, 1, 2, 3, 4, 5, 12}

In [ ]:
#23)  Create l2 as a list and perform set operation on s1 with l1.

In [82]:
l2  = [5,6,3]
print(l2)
print(s1)

[5, 6, 3]
{1, 3, 12, 4}

In [ ]:
u = s1.union(l2)
i = s1.intersection(l2)
d = s1.difference(l2)   # returns all in first except common 
sd= s1.symmetric_difference(l2)   # return all in both except common 
t,i,d,sd

({1, 3, 4, 5, 6, 12}, {3}, {1, 4, 12}, {1, 4, 5, 6, 12})

In [ ]:
# 24) Ask user to enter the name and DOB and generate the password based on first name 4 characters and  @ddmm.
#  For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505

In [ ]:
name = input("enter your name")
DOB = input("enter dob in (dd/mm/yyyy)")
first_part = name[:4]
day = DOB[:2]
month = DOB[3:5]
password = first_part + "@"+day + month 
print ("password is", password)

password is Prat@2105

In [ ]:
# 25 ) Ask user to enter the name and DOB and generate the password based on first name 4 characters and  last 4 digits of DOB or year @yyyy. 
# For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978

In [96]:
name = input("enter your name")
DOB = input("enter dob in (dd/mm/yyyy)")
first_part = name[:4]
year = DOB[6:]
password = first_part + "@"+year
print ("password is", password)

password is Prat@2003

In [ ]:
''' 26)  Create the format mentioned here. 

* 
* * 
* * * 
* * * * 
'''

In [104]:
x  = int(input("enter x"))
for i in range(1, x+1) :
    print('*' *  i)

*
**
***
****

In [ ]:
''' 27 ) Create the format as mentioned below: 
**** 
*** 
** 
* '''

In [114]:
x  = int(input("enter x"))
for i in range(x,0,-1) :
    print('*' *  i)

****
***
**
*

In [ ]:
'''28) Str_val = “ABCD” then Create the format as mentioned below: 

A 
A B 
A B C 
A B C D '''

In [125]:
Str_val = 'ABCD'
for i in range (len(Str_val)+1):
    for j in range(i):
        print(Str_val[j] , end=" ")
    print()

A
A B
A B C
A B C D

In [ ]:
'''29) Create the format mentioned below: 
A 
BB 
CCC 
DDDD '''

In [127]:
for i in range (len(Str_val)):
    print(Str_val[i] * (i+1))

A
BB
CCC
DDDD

In [ ]:
'''30) Create the format mentioned below: 
1 
22 
333 
4444  '''

In [134]:
for i in range(1,5):
    print(str(i)*i)

1
22
333
4444

In [ ]:
'''31)  Val = “ABCD”  based on the Val, create the format mentioned below 
D 
DC 
DCB 
DCBA '''

In [ ]:
Val = "ABCD"
rev = Val[::-1]   # reverse the string → "DCBA"

for i in range(1, len(rev) + 1):
    print(rev[:i])

D
DC
DCB
DCBA

In [ ]:
'''32)Ask user to enter the string. If string is UPGRAD then output must be 
D 
DA 
DAR 
DARG 
DARGP 
DARGPU 
User may pass any string. 
'''

In [141]:
Val = input("enter your string")
rev = Val[::-1]   # reverse the string → "DCBA"

for i in range(1, len(rev) + 1):
    print(rev[:i])

d
da
dar
darg
dargp
dargpU

In [ ]:
'''33)Create a list of odd numbers from 1 to 10 

Using for loop 

Using comprehensive list '''

In [142]:
for i in range (1, 11):
    if i % 2 !=0:
        print(i)

1
3
5
7
9

In [144]:
odd_num = [i for i in range(1,11) if i% 2 !=0]
odd_num

[1, 3, 5, 7, 9]

In [ ]:
#34) Create even number list using for loop from 200 to 250

In [146]:
for i in range (200,251):
    if i % 2 == 0:
        print(i, end = " ")

200 202 204 206 208 210 212 214 216 218 220 222 224 226 228 230 232 234 236 238 240 242 244 246 248 250

In [ ]:
# 35) List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5] 

# Multiply each and every element by 2 and display the answer

In [161]:
List2 = [2,70,'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
list3 = []
for i in List2:
    try:
        print(i * 2)
    except TypeError:
        print("can't be multiplied ")

4
140
workwork
parapara
5.0
[1, 2, 3, 1, 2, 3]
(1, 2, 1, 2)
can't be multiplied
can't be multiplied
6
20
605.0

In [ ]:
#36) List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5] 
#Multiply each and every element from list2 by 2 and store the answer in list3

In [160]:
list3 = []
for i in List2:
    try:
        list3.append(i * 2)
    except TypeError:
        list3.append(i)
print(list3)

[4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), {1, 2}, {1: 'a', 2: 'b'}, 6, 20, 605.0]

In [ ]:
#37) Create a function to accept marks from user utilize exception concept to validate proper marks.

In [179]:
def marks():
    
    try:
        marks = int(input("enter your marks"))
        if  0 <= marks <=100:
            print("This is your mark:",marks)
        else:
            print("enter correct marks")
    except ValueError: 
        print("please enter number")

In [180]:
marks()

This is your mark: 2

In [ ]:
# 38 ) Create a function to validate user first name/last name. 
# User first name/last name should contain only characters. No special characters, numbers, space in name

In [185]:
def name():
    try:
        name = input("enter your name")
        if not name.isalpha():
            raise ValueError("Invalid name")
        else:
            print("this is your name",name)
    except ValueError as e:
        print(e)

In [187]:
name()

this is your name ch

In [ ]:
# 39) Create a function to accept mobile number. 
# Mobile number should contain 10 digits. No Special character, alphabets and space

In [200]:
def mob():
    try:
        mobile_num = input("enter your mobile nmber")
        if not mobile_num.isdigit() or len(mobile_num) != 10:
            raise ValueError("Invalid mobile number")
        else:
            print("Your mobile number is : ",mobile_num)
    except ValueError as e:
        print(e)

In [202]:
mob()

Your mobile number is :  1234567896

In [ ]:
#40) Create a function to generate auto-password based on specific person details. Ask user to enter name, DOB. 
# And password must be First name 4 characters and year of birth.

In [210]:
def passw():

    name = input("Enter your name")
    first_part= name[:4]
    DOB = input("Enter your DOB in (dd/mm/yyyy)")
    year = DOB[6:]
    password = first_part + year
    print(password)

In [211]:
passw()

chet2003

In [ ]:
''' 41) Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the
 details in dictionary with customer number as 1 for first time. If user try to enter another value,
   then number should increase as 2 with new details and previous values should not change. 
For example: 
{}
{1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"}} 
{1:{name : "Sachine", "DOB": "21-06-1965" , "mobile": "1234123423"}, 
2: {name : "Sumedh", "DOB": "02-02-2002" , "mobile": "1234123433"}}'''

In [215]:
d = {}
cust_no = 1

while True:
    name = input("Enter name: ")
    DOB = input("Enter DOB: ")
    mob = input("Enter mobile: ")

    d[cust_no] = {"name": name, "DOB": DOB, "mobile": mob}
    print(d)

    more = input("Do you want to add another record? (yes/no): ")
    if more.lower() != "yes":
        break
    cust_no += 1

{1: {'name': 'chet', 'DOB': '25/04/2003', 'mobile': '1234567895'}}
{1: {'name': 'chet', 'DOB': '25/04/2003', 'mobile': '1234567895'}, 2: {'name': 'paru', 'DOB': '21/05/2025', 'mobile': '23654478'}}
{1: {'name': 'chet', 'DOB': '25/04/2003', 'mobile': '1234567895'}, 2: {'name': 'paru', 'DOB': '21/05/2025', 'mobile': '23654478'}, 3: {'name': 'yo', 'DOB': '12/04/2003', 'mobile': '5856'}}

In [ ]:
# 42) Based on the above example create the dictionary and save the same in a cust_info.txt or cust_info.log

In [217]:
d = {}
cust_no = 1

while True:
    name = input("Enter name: ")
    DOB = input("Enter DOB: ")
    mob = input("Enter mobile: ")

    # store details in dictionary
    d[cust_no] = {"name": name, "DOB": DOB, "mobile": mob}

    # ask if user wants to add more
    more = input("Do you want to add another record? (yes/no): ")
    if more.lower() != "yes":
        break
    cust_no += 1

# save details to file
with open("cust_info.txt", "w") as f:
    for key, value in d.items():
        print(f"Customer No: {key}", file=f)
        print(f"Name: {value['name']}", file=f)
        print(f"DOB: {value['DOB']}", file=f)
        print(f"Mobile: {value['mobile']}", file=f)
        print("-" * 30, file=f)

print("All customer information saved in 'cust_info.txt'")

All customer information saved in 'cust_info.txt'

In [ ]:
#48) Create a function to check if string is palindrome or not ? For example, 
# if input is NITIN then reverse of the string is same then it is palindrome.
#  If input is ANIL then reverse is LINA which is not same then it is not palindrome.

In [5]:
def check_palindrome():
    s = input("Enter name: ")
    s = s.lower()        # convert to lowercase
    rev = s[::-1]        # reverse the string

    if s == rev:
        print("It is palindrome")
    else:
        print("It is not palindrome")

# Call the function
check_palindrome()

It is palindrome

In [ ]:
# 49) Create a function to generate a Fibonacci Series.
#  0 1 1 2 3 5 8 13 21 34 …..  upto 100

In [ ]:
def fibonacci_series():
    a, b = 0, 1
    print(a, b, end=" ")

    while True:
        c = a + b
        if c > 100:      # stop when next number exceeds 100
            break
        print(c, end=" ")
        a, b = b, c      # move to next two numbers

In [9]:
fibonacci_series()

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
#50)Write a code to generate factorial of the number  For example: factorial of 5 = 5! = 5*4*3*2*1

In [ ]:
def factorial():
    num = int(input("Enter a number: "))
    fact = 1

    for i in range(1, num + 1):
        fact = fact * i

    print("Factorial is",fact)

Factorial is 120

In [12]:
 #Call the function
factorial()

Factorial is 120

In [ ]:
# 51) Write a program to find largest number in the list.

In [15]:
def largest():
    numbers = [1,23,2,4,55]
    largest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num
    print("largest number is: ", largest)

largest()

largest number is:  55

In [ ]:
# 52) Write a program to check frequency of each element in the list.

In [16]:
def frequency_count():
    lst = [10, 20, 10, 30, 20, 10, 40, 30]
    freq = {}

    for item in lst:
        if item in freq:
            freq[item] += 1
        else:
            freq[item] = 1

    print("Frequency of each element:")
    for key, value in freq.items():
        print(key, ":", value)

# Call the function
frequency_count()

Frequency of each element:
10 : 3
20 : 2
30 : 2
40 : 1

In [ ]:
# 53) There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then 
# write a program to find common elements in the list.

In [17]:
l1 = [1, 2, 3, 4, 5]
l2 = [3, 2, 8, 7, 9]

common = []

for i in l1:
    if i in l2:
        common.append(i)

print("Common elements:", common)

Common elements: [2, 3]

In [ ]:
# 54)

In [2]:
import pymysql

# --- Database connection ---
def connect_db():
    return pymysql.connect(
        host="localhost",
        user="root",
        password="Chetu@123",
        database="shop"
    )

# --- User Signup ---2
def signup():
    con = connect_db()
    cur = con.cursor()
    mobile = input("Enter mobile number: ")
    password = input("Enter password: ")

    cur.execute("INSERT INTO user(mobile, passkey, date) VALUES (%s, %s, CURDATE())", (mobile, password))
    con.commit()
    print("✅ Signup successful!")
    cur.close()
    con.close()

# --- User Signin ---
def signin():
    con = connect_db()
    cur = con.cursor()
    mobile = input("Enter mobile number: ")
    password = input("Enter password: ")

    cur.execute("SELECT * FROM user WHERE mobile=%s AND passkey=%s", (mobile, password))
    data = cur.fetchone()

    if data:
        print("✅ Login successful! Welcome User ID:", data[0])
        user_menu(data[0])
    else:
        print("❌ Invalid mobile number or password.")

    cur.close()
    con.close()

# --- View Products ---
def view_products():
    con = connect_db()
    cur = con.cursor()
    cur.execute("SELECT * FROM product")
    data = cur.fetchall()

    print("\n--- Product List ---")
    for row in data:
        print(f"Product ID: {row[0]}, Name: {row[1]}")
    print("---------------------")

    cur.close()
    con.close()

def place_order(uid):
    while True:
        view_products()
        pid = input("Enter Product ID to order (or 'q' to quit): ")
        if pid.lower() == 'q':
            break

        con = connect_db()
        cur = con.cursor()
        cur.execute("SELECT * FROM product WHERE pid=%s", (pid,))
        product = cur.fetchone()

        if not product:
            print("❌ Invalid Product ID. Try again.")
        else:
            cur.execute("INSERT INTO orders(uid, pid) VALUES (%s, %s)", (uid, pid))
            con.commit()
            print(f"✅ Order placed successfully for: {product[1]}")

        cur.close()
        con.close()


# --- View Orders ---
def view_orders(uid):
    con = connect_db()
    cur = con.cursor()
    cur.execute("""
        SELECT o.oid, p.pname 
        FROM orders o
        JOIN product p ON o.pid = p.pid
        WHERE o.uid = %s
    """, (uid,))
    data = cur.fetchall()

    print("\n--- Your Orders ---")
    if data:
        for row in data:
            print(f"Order ID: {row[0]}, Product: {row[1]}")
    else:
        print("No orders found.")
    print("---------------------")

    cur.close()
    con.close()

# --- User Menu ---
def user_menu(uid):
    while True:
        print("\n1. View Products")
        print("2. Place Order")
        print("3. View Orders")
        print("4. Logout")
        choice = input("Enter your choice: ")

        if choice == '1':
            view_products()
        elif choice == '2':
            place_order(uid)
        elif choice == '3':
            view_orders(uid)
        elif choice == '4':
            print("Logged out successfully.")
            break
        else:
            print("Invalid choice. Try again.")

# --- Main Menu ---
while True:
    print("\n--- Welcome to Shop ---")
    print("1. Signup")
    print("2. Signin")
    print("3. Exit")
    ch = input("Enter your choice: ")

    if ch == '1':
        signup()
    elif ch == '2':
        signin()
    elif ch == '3':
        print("Thank you! Exiting...")
        break
    else:
        print("Invalid choice.")

--- Welcome to Shop ---
1. Signup
2. Signin
3. Exit
✅ Signup successful!

--- Welcome to Shop ---
1. Signup
2. Signin
3. Exit
❌ Invalid mobile number or password.

--- Welcome to Shop ---
1. Signup
2. Signin
3. Exit
✅ Login successful! Welcome User ID: 6

1. View Products
2. Place Order
3. View Orders
4. Logout

--- Product List ---
Product ID: 1, Name: Laptop
Product ID: 2, Name: Mobile
Product ID: 3, Name: Watch
Product ID: 4, Name: Headphones
---------------------

1. View Products
2. Place Order
3. View Orders
4. Logout

--- Product List ---
Product ID: 1, Name: Laptop
Product ID: 2, Name: Mobile
Product ID: 3, Name: Watch
Product ID: 4, Name: Headphones
---------------------
✅ Order placed successfully for: Headphones

--- Product List ---
Product ID: 1, Name: Laptop
Product ID: 2, Name: Mobile
Product ID: 3, Name: Watch
Product ID: 4, Name: Headphones
---------------------

1. View Products
2. Place Order
3. View Orders
4. Logout

--- Your Orders ---
Order ID: 6, Product: Headphones
---------------------

1. View Products
2. Place Order
3. View Orders
4. Logout

--- Your Orders ---
Order ID: 6, Product: Headphones
---------------------

1. View Products
2. Place Order
3. View Orders
4. Logout
Logged out successfully.

--- Welcome to Shop ---
1. Signup
2. Signin
3. Exit
✅ Signup successful!

--- Welcome to Shop ---
1. Signup
2. Signin
3. Exit
Invalid choice.

--- Welcome to Shop ---
1. Signup
2. Signin
3. Exit
Invalid choice.

--- Welcome to Shop ---
1. Signup
2. Signin
3. Exit
Invalid choice.

--- Welcome to Shop ---
1. Signup
2. Signin
3. Exit
Invalid choice.

--- Welcome to Shop ---
1. Signup
2. Signin
3. Exit
Invalid choice.

--- Welcome to Shop ---
1. Signup
2. Signin
3. Exit
Thank you! Exiting...

In [7]:
import pymysql

def connect_db():
    return pymysql.connect(
        host="localhost",
        user="root",
        password="Chetu@123",
        database="shop"
    )

In [ ]:
def signup():
    con = connect_db()
    cur = con.cursor() 
    mobile = input("enter your mobile number")
    passkey = input("enter your passkey")
   
    cur.execute("Insert into user(mobile,passkey,date) values (%s, %s , CURDATE())",(mobile,passkey))
    con.commit()
    print("Signup successfull")
    cur.close()
    con.close()


def signin():
    con = connect_db()
    cur = con.cursor()
    mobile = input("enter your mobile number")
    passkey = input("enter your passkey")
    cur.execute("SELECT * FROM user WHERE mobile = %s AND passkey = %s",(mobile,passkey))
    data = cur.fetchone()
    if data:
        print("Signin Successful! Welcome User Id",data[0])
        return data[0]
    else:
        print("Invalid mobile number or passkey ")
        return none
    
    cur.close()
    con.close()


def view_products():
    con = connect_db()
    cur = con.cursor()
    cur.execute("SELECT * FROM product")
    data = cur.fetchall()
    print("\n Available Products are")
    for row in data:

        print(f"product Id:{row[0]},product name:{row[1]}")
    cur.close()
    con.close()

    

def place_order(uid):
    while True:

    
        view_products()
        pid_input = input("enter pid(enter q to quit)")
        if pid_input.lower() == 'q':
            break
        pid = int(pid_input)
        con = connect_db()
        cur = con.cursor()
        cur.execute("SELECT * FROM product WHERE pid = %s",(pid))
        product = cur.fetchone()

        if not product:
            print("Invalid product!")
        else:
            cur.execute("INSERT INTO orders(uid,pid) VALUES (%s,%s)",(uid,pid))
            con.commit()
            print("order placed successfully")
        cur.close()
        con.close()

        
def view_orders(uid):
    con = connect_db()
    cur = con.cursor()
    cur.execute("SELECT o.oid,p.pid from orders o join product p on o.pid = p.pid where o.uid = %s",(uid))
    data = cur.fetchall()
    print("\n Your orders are")
    if data:

        for row in data:
            print(f"order ID is:{row[0]},product:{row[1]}")
    else:
        print("No orders found ")
    cur.close()
    con.close()

while True:
    print("\n Welcome to the Shop ")
    print("1. Signup")
    print("2. Signin")
    print("3. View Products")
    print("4. Place Order")
    print("5. View Orders")
    print("6. Exit")

    ch = int(input("Enter your choice: "))

    if ch == 1:
        signup()
    elif ch == 2:
        signin()
    elif ch == 3:
        view_products(uid)
    elif ch == 4:
        place_order(uid)
    elif ch == 5:
        view_orders()
    elif ch == 6:
        print("Thank you! Visit again.")
        break
    else:
        print("Invalid choice! Please try again.")

 Welcome to the Shop
1. Signup
2. Signin
3. View Products
4. Place Order
5. View Orders
6. Exit
Signin Successful! Welcome User Id 1

 Welcome to the Shop
1. Signup
2. Signin
3. View Products
4. Place Order
5. View Orders
6. Exit

NameError: name 'uid' is not defined

In [13]:
class computer():
    shop_name = 'Teches'

    def __init__(self):
        self.__maxprice = 900
        self.model_name = 'Dell'

    def sell(self):
        #print("selling price : {}".format(self.__maxprice))
        print("model name is : {}".format(self.model_name))


    def setMaxprice(self,price):
        self.__maxprice = price

c = computer()
c.sell()

model name is : Dell

In [2]:
c.shop_name, c.model_name

('Teches', 'Dell')

In [3]:
c.model_name = 'lenovo'

In [4]:
c.model_name

'lenovo'

In [5]:
c.__maxprice = 500

In [6]:
c.__maxprice

500

In [8]:
c.sell()

selling price : 900

In [10]:
c.setMaxprice(500)

In [12]:
c.sell()

selling price : 500

In [14]:
c.sell()

model name is : Dell

In [15]:
c.model_name ='lenovo'

In [16]:
c.model_name

'lenovo'

In [17]:
c.sell()

model name is : lenovo

In [19]:
class new_pre():
    def __init__(self,aa,bb,cc):
        self.a =aa  #public
        self._b=bb  #protected
        self.__c=cc  #private

    def out(self):
        print(self.a)
        print(self._b)
        print(self.__c)

In [20]:
n =new_pre(10,20,30)

In [21]:
n.out()

10
20
30

In [24]:
n.a =20

In [25]:
n.a

20

In [26]:
n._b = 50

In [27]:
n._b

50

In [28]:
n.__c = 200

In [29]:
n.__c

200

In [30]:
n.out()

20
50
30

In [32]:
class Robot: 
    def __init__(self, name=None, build_year=None): 
        self.name = name 
        self.build_year = build_year 
        def say_hi(self): 
            if self.name: print("Hi, I am " + self.name)
            else: print("Hi, I am a robot without a name") 
        if self.build_year: print("I was built in " + str(self.build_year)) 
        else: print("It's not known, when I was created!") 
        def set_name(self, name): 
            self.name = name 
            #if val():
                 #e.excute("insert") 
        def get_name(self):
            print("select ")
        return self.name 
    def set_build_year(self, by): 
            self.build_year = by 
            def get_build_year(self): 
                return self.build_year

In [34]:
r = Robot()

It's not known, when I was created!